.d3-chart {
  height: 100%;
  min-height: 400px;
  width: 100%;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px; /* Will be overridden */
  background-color: teal;
}